@font-face {
    font-family: 'freesansregular';
    src: url('fonts/freesans-webfont.woff2') format('woff2'),
         url('fonts/freesans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
}
body {
    font-family: 'freesansregular';
}